:root {
  font-family: monospace;
  font-size: 16px;
}

.primary-container {
  position: relative;
  margin: 1ex;
  height: 90vh;

  img {
    color: hsla(244, 88%, 52%, 0.959);
    left: 0;
    height: 100%;
    //position: relative;
    top: 0;
    width: 100%;
  }

  &__firstImage {
    // position: absolute;
    -webkit-clip-path: url(#clipping);
    clip-path: url(#clippingPath);
  }

  &__bigWord {
    // this is an image w/ an svg clip path applied to it
    color: #00ff4c;
    clip-path: url(#textClipper);
  }
} // /.primary-container

#textClipper {
  font: bold 10em/1.5 monospace;
}

.svgOverlay {
  // background-color: hsla(310, 100%, 65%, 0.6);
  // fill: currentColor;
  // filter: opacity(0.67);
  // display: none;
  // position: absolute;
}
